*{
    
    

    font-family: 'Fredoka One', cursive;
 
}
h1{
    
    background-image: radial-gradient(circle, #ff3838, #e32c2a, #c81f1c, #ad110e, #930000);
    border-radius: 10px;
    
}

body{
min-height: 100vh;
padding-bottom: 100px;
position: relative;
background-image: radial-gradient(circle, #585757, #484848, #393939, #2b2b2b, #1d1d1d);

}
.row {
    margin: 0;


 }
 .container-fluid{
    padding: 0;
 }

#alunos-container{
    padding: 50px;
    border-radius: 10px;
    background-image: radial-gradient(circle, #a8a8a8, #b7b7b7, #c6c6c6, #d5d5d5, #e5e5e5);
    
   
}

#cards-container{
    display: flex;
   
    
}

#alunos-container .cards{
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
    

}

#alunos-container .imagem {

    
    display: flex;
 justify-content: center;
   
    background-image: radial-gradient(circle, #ffffff, #f4f3fc, #e7e8f9, #d9ddf6, #cad3f4);


   
}

#alunos-container .body {
    background-image: radial-gradient(circle, #247cff, #116cf7, #005bee, #004ae5, #0737da);

}

h5{
    color: aliceblue;
}

#alunos-container img {

    display: flex;
 justify-content: center;

}

#navbar img {
width: 50px;


}

header{
    
    background-image: radial-gradient(circle, #585757, #484848, #393939, #2b2b2b, #1d1d1d);
    border-radius: 10px;
}

#info-container h2{
    color: #cacaca;
}

#info-container h3{

    border-radius: 10px;
    color: #cacaca;
}
