*{
    
     font-family: 'Open Sans', cursive;
 
}


#alunos-container .body {
    background-image: radial-gradient(circle, #247cff, #116cf7, #005bee, #004ae5, #0737da);

}

h5{
    color: aliceblue;
}

#alunos-container img {

    display: flex;
 justify-content: center;

}

#navbar img {
width: 50px;


}

header{
    
    background-image: radial-gradient(circle, #585757, #484848, #393939, #2b2b2b, #1d1d1d);
    border-radius: 10px;
}

#info-container h2{
    color: #cacaca;
}

#info-container h3{

    border-radius: 10px;
    color: #cacaca;
}
