/* General */

* {
    font-family: 'Open+Sans';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #ccc;
    border-bottom: 1px #ccc;
}

.msg{
    background-color: #d4edda;
    color: #155724;
    border: 1px;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

/* nav*/
#navbar img {
    width: 50px;
}

#navbar {
    justify-content: space-between;
    padding: 5px 0;
}